<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ClipboardManager</string>
    <key>CFBundleIdentifier</key>
    <string>com.nicebro.ClipboardManager</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>ClipboardManager</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>ClipboardManager 需要此权限来自动粘贴内容</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>ClipboardManager 需要辅助功能权限来模拟粘贴快捷键</string>
    <key>SUFeedURL</key>
    <string>https://github.com/nicebro/ClipboardManager/releases/latest/download/appcast.xml</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.nicebro.ClipboardManager</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>clipboardmanager</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
